<ul class="nav nav-pills">
  <li>{{#link-to 'application'}}Home{{/link-to}}</li>
  <li>{{#link-to 'todos'}}Todos{{/link-to}}</li>
  <li>{{#link-to 'todos.new'}}Add{{/link-to}}</li>
</ul>
<div class="container">
  {{outlet}}
</div>