<ul class="nav nav-pills">
  <li>{{#link-to 'application'}}Home{{/link-to}}</li>
  <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
  <li>{{#link-to 'posts.new'}}Add{{/link-to}}</li>
</ul>
<div class="container">
  {{outlet}}
</div>